 .links-header{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #f41e1ec7;
    background-size: cover;
    text-align: start;
    justify-content: center;
    height: -webkit-fill-available;
    width: 15%;
    top: 0;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
} 
.links-header p a{
    display: flex;
    color: #ffffff;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 10px;
    background-color: #434d56c7;
    margin: 5px 0;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.links-header a:hover,
.links-header a:active{
    color: #F41E1E;
} 
#logomenu2{
    width: 200px;
    display: flex;
    margin: auto;
}
@media screen and (min-width : 0px) and (max-width : 768px){
     .links-header {
       display: none;
    }
}
@media screen and (min-width : 768px) and (max-width : 1024px){
}
@media screen and (min-width : 1024px) and (max-width : 1440px){
     
}
@media screen and (min-width : 2560px){
    .limks-header p a{
        font-size: 2.5rem;
    }
   
}