#clients{
   text-align: start;
   margin-top: 5%;
   margin-left: 15%;
   color: aliceblue;
   box-sizing: border-box;
   overflow-y: auto;
   height: 100vh;
}
.ClientsForm #form{
    margin: 0%;
}
@media screen and (min-width : 0px) and (max-width : 768px){
#clients{
     margin-top: 500px;
     margin-left: 0%;
     overflow-y: visible;
}   
}
@media screen and (min-width : 768px) and (max-width : 1024px){
}
@media screen and (min-width : 1024px) and (max-width : 3600px){

}