#contact{
   text-align: start;
   margin-top: 5%;
   margin-left: 15%;
   color: aliceblue;
   box-sizing: border-box;
   overflow-y: auto;
   height: 100vh;
}
#phone a{
   letter-spacing: 3px;
   color: rgb(240, 248, 255);
   font-weight: 800;
   text-shadow: 2px 2px #f41e1ec7;
}
#phone a:hover{
   text-shadow: none;
}
h3#phone{
      text-align: center;
}
@media screen and (min-width : 0px) and (max-width : 768px){
#contact{
     margin-top: 300px;
     margin-left: 0%;
     overflow-y: visible;
}
}
@media screen and (min-width : 1024px) and (max-width : 1440px){
}
@media screen and (min-width : 1024px) and (max-width : 3600px){
    
}